{% extends 'base.html' %}
{% block content %}
<h1 class='loginh1'>Log In</h1>
<div class='center'>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>


<!-- <h5 class='testact'>Trial account info:</h5>
<p class='testlog'>Login: test</p>
<p class='testlog'>password: goredwings19</p> -->

<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
{% endblock %}