{% extends 'base.html' %}

{% block content %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  
    <!-- Django requires the following for security purposes -->
    {% if object %}
    <h1><span class="teal-text">{{object.position}} @ {{object.company}}</span></h1>
    {% else %}
    <h1>Add Job</h1>
    
    {% endif %}


    <form action="" method="post">
    {% csrf_token %}
    <table class="striped">
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_p }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
  <script>
    let dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    var selectEl = document.getElementById('id_update');
    M.FormSelect.init(selectEl);
  </script>
  
{% endblock %}


