{% extends 'base.html' %}
{% block content %}

<h1 class='joblisth1'>Applied jobs</h1>

{% for job in jobs %}
  <div class="card">
      <a href='{% url "detail" job.id%}' class='jobId'>
    <div class="card-content">
      <strong class='right'><p>Applied on: {{job.date}}</p></strong>
      <span class="card-title">{{ job.company }}</span>
      <p>{{ job.position }}</p>
      <p>Location: {{job.location}}</p>
      
      <!-- <p><input type='checkbox' value={{job.cover_letter}} />Referral? {{job.cover_letter}}</p> -->
      <p class='learnMore'>Click to learn more</p>
      
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}