
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(134, 228, 155);
}

main {
    flex: 1 0 auto;
    
}

footer.page-footer {
    padding-top: 100px;
    text-align: right;
    min-height: 75px;
}

a.left.brand-logo{
    font-family: 'Bevan', cursive;
    color: rgba(18, 53, 127, 1);
    font-size: 22px;
    padding-top: 20px;
    padding-left: 50px;
}

a.nav-link{
    font-family: 'Bevan', cursive;
    color: rgba(18, 53, 127, 1);
    font-size: 22px;
    padding-top: 20px;
    margin-right:20px;
}


/* mobile navbar */
.sidenav {
    max-width:50%;
}

.sidenav li>a {
    color: rgba(18, 53, 127, 1);
    display: block;
    font-family: 'Medula One', cursive;
    font-size: 22px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

i.material-icons {
    color: rgba(18, 53, 127, 1);
    padding-top: 20px;
    float: right;
}


/* Joblist */
.jobId{
    text-transform: none;
    color: black;
}

.learnMore {
    color: red;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 0;
    font-size: 15px;
}

/* card */
.cardContent.jobDetail {
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgba(18, 53, 127, 1);
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    font-family: 'Bevan',
    cursive;
}


/* PAGINATION THEME */
.pagination {
    text-align: center;
    margin-top: 1em;
}

a.pagination {
    text-decoration: none;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

span.pagination-number:hover,
.pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
    color: #3354AA;
}


/* footer */
div.right{
    color: rgba(18, 53, 127, 1);
    margin-bottom: 0%;
    padding-top: 50px;
    
}

nav, footer.page-footer{
    background-color: rgba(218, 173, 134, .0);
    height: 100px;
}


/* home */
.homeh1 {
    padding-top: 50px;
    color: white;
    font-size: 5em;
    font-family: 'Bevan', cursive;

}

.homep {
    color: white;
    font-size: 32px;
    font-family: 'Medula One', cursive;
}

.homeSub {
    color: white;
    font-size: 2.5em;
    font-family: 'Bevan', cursive;
}

.homeli, li, span.helptext{
    color: white;
    font-family: 'Medula One', cursive;
    font-size: 25px;
}


/* Login / signup*/
 .loginh1, .signuph1 {
     color: white;
    font-size: 4em;
    font-family: 'Bevan', cursive;
    padding-top: 80px;
 }
 label {
     color: rgba(18, 53, 127, 1);
     /* color: rgba(134, 228, 155); */
     font-size: 18px;
 } 

 h5.testact {
     font-family: 'Bevan', cursive;
     color: white;
 }

 p.testlog {
     /* font-family: 'Bevan', cursive; */
     color: white;
 }

 input{
     color: black;
 }

 input.btn{
     background-color: white;
     color: rgba(18, 53, 127, 1);
     font-family: 'Bevan',
     cursive;
     /* margin-top: 10px; */
     font-size: 15px;
     height: 50px;
 }

 input.btn-add {
     color: rgba(134, 228, 155);
     background-color: rgba(18, 53, 127, 1);
     padding: 15px;
     font-size: 15px;
     font-family: 'Bevan',
     cursive;
 }
 input#id_username,
 input#id_password, 
 input#id_password1, 
 input#id_password2   {
    width: 50%;
    background-color: white;
    height: 30px;
 }
 

 /* ADD JOB */
.addjobh1 {
     color: white;
     font-size: 3em;
     font-family: 'Bevan',
     cursive;
     padding-top: 80px;
}

input#id_company,
input#id_position,
input#id_location {
    background-color: white;
}



 /* Detail page */

 .welcome {
     color: white;
     font-size: 3em;
     font-family: 'Bevan',
     cursive;
     padding-top: 70px;
 }

 .jobdetailh1, .joblisth1{
    color: white;
    font-size: 3em;
    font-family: 'Bevan', cursive;
    padding-top: 30px;
    text-decoration: underline;
 }

 div.card-content{
     background-color: rgba(18, 53, 127, .7);
     color: white;
     font-family: 'Bevan', cursive;
     font-size: 18px;
     /* height: 320px; */
 }

 .row .col.s6 {
     background-color: rgba(18, 53, 127, 1);
     width: 50%;
     margin-left: auto;
     left: auto;
     right: auto;
     height: 430px;
 }

 div.card-contentdetail{
     background-color: rgba(18, 53, 127, 1);
     color: rgba(134, 228, 155);
     height: 320px;
 }

 input#id_date, textarea#id_comment {
     background-color: white;
     color:rgba(18, 53, 127, 1);
 }
 .select-wrapper input.select-dropdown {
     background-color: white;
     color:rgba(18, 53, 127, 1);
 }

 th, label.active{
    color:rgba(18, 53, 127, 1);
    /* color: rgba(134, 228, 155); */
 }

 .striped {
     padding-top: 50px;
     text-align: center;
 }

 tr {
     font-size: 25px;
     color:rgba(18, 53, 127, 1);
 }

 .tdbody {
     color: rgba(18, 53, 127, 1);
     font-size: 15px;
 }

 .addUpdateh4 {
     color: white;
    /* font-size: 3em; */
    font-family: 'Bevan', cursive;
    text-decoration: underline;
 }


 /* search bar */
 .search-bar{
     max-width: 300px;
     width: 100%;
     background-color: white;
 }