@media (min-width: 600px) {
a.left.brand-logo {
    font-family: 'Medula One', cursive;
    color: rgba(18, 53, 127, 1);
    font-size: 3em;
    padding-top: 15px;
    padding-left: 20px;
}


}   
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(134, 228, 155);
}

main {
    flex: 1 0 auto;
    
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
    min-height: 75px;
}

a.left.brand-logo{
    font-family: 'Bevan', cursive;
    color: rgba(18, 53, 127, 1);
    font-size: 22px;
    padding-top: 20px;
    padding-left: 50px;
}

a.nav-link{
    font-family: 'Bevan', cursive;
    color: rgba(18, 53, 127, 1);
    font-size: 22px;
    padding-top: 20px;
    margin-right:20px;
}


/* mobile navbar */
.sidenav {
    max-width:50%;
}

.sidenav li>a {
    color: rgba(18, 53, 127, 1);
    display: block;
    font-family: 'Medula One', cursive;
    font-size: 22px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

i.material-icons {
    color: rgba(18, 53, 127, 1);
    padding-top: 20px;
    float: right;
}


/* Home */
.jobId{
    text-transform: none;
    color: black;
}

.learnMore {
    color: red;
    text-transform: uppercase;
    padding-top: 15px;
}

/* card */
.cardContent.jobDetail {
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: rgba(18, 53, 127, 1);
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    font-family: 'Bevan',
    cursive;
}

/* footer */
div.right{
    color: rgba(18, 53, 127, 1);
    margin-bottom: 0%;
    padding-top: 50px;
    
}

nav, footer.page-footer{
    background-color: rgba(44, 40, 45, .0);
    height: 100px;
}


/* home */
.homeh1 {
    padding-top: 50px;
    color: white;
    font-size: 5em;
    font-family: 'Bevan', cursive;

}

.homep {
    color: white;
    font-size: 32px;
    font-family: 'Medula One', cursive;
}

.homeSub {
    color: white;
    font-size: 2.5em;
    font-family: 'Bevan', cursive;
}

.homeli, li, span.helptext{
    color: white;
    font-family: 'Medula One', cursive;
    font-size: 25px;
}


/* Login / signup*/
 .loginh1, .signuph1 {
     color: white;
    font-size: 4em;
    font-family: 'Bevan', cursive;
    padding-top: 80px;
 }
 label {
     color: rgba(18, 53, 127, 1);
     font-size: 18px;
 }

 input.btn{
     background-color: rgba(18, 53, 127, 1);
 }

 input#id_username,
 input#id_password, 
 input#id_password1, 
 input#id_password2   {
    width: 50%;
    background-color: white;
    height: 30px;
 }
 

 /* ADD JOB */
.addjobh1 {
     color: white;
     font-size: 3em;
     font-family: 'Bevan',
     cursive;
     padding-top: 80px;
}

input#id_company,
input#id_position,
input#id_location {
    background-color: white;
}

 /* Detail page */

 .welcome {
     color: white;
     font-size: 3em;
     font-family: 'Bevan',
     cursive;
     padding-top: 70px;
 }

 .jobdetailh1, .joblisth1{
    color: white;
    font-size: 3em;
    font-family: 'Bevan', cursive;
    padding-top: 30px;
    text-decoration: underline;
 }

 div.card-content{
     background-color: rgba(18, 53, 127, 1);
     color: rgba(134, 228, 155);
     /* height: 320px; */
 }

 div.card-contentdetail{
     background-color: rgba(18, 53, 127, 1);
     color: rgba(134, 228, 155);
     height: 320px;
 }

 input#id_date, textarea#id_comment {
     background-color: white;
     color:rgba(18, 53, 127, 1);
 }
 .select-wrapper input.select-dropdown {
     background-color: white;
     color:rgba(18, 53, 127, 1);
 }

 th, label.active{
    color:rgba(18, 53, 127, 1);
 }

 .striped {
     padding-top: 50px;
     text-align: center;
 }

 tr {
     font-size: 25px;
     color:rgba(18, 53, 127, 1);
 }

 .tdbody {
     color: rgba(18, 53, 127, 1);
     font-size: 15px;
 }

 .addUpdateh4 {
     color: white;
    /* font-size: 3em; */
    font-family: 'Bevan', cursive;
    text-decoration: underline;
 }