{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>appliTrack</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bevan&family=Medula+One&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
  <header class='navbar-fixed'>
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul>
          {% if user.is_authenticated %}
          <!-- <li><a href="/" class="left brand-logo hide-on-med-and-down">Hi, {{user.username}}</a></li> -->
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;appliTrack</a></li>
          {% else %}
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;appliTrack</a></li>
          {% endif %}
        </ul>
        
        <ul class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="{% url 'jobs_create' %}" class='nav-link'>Add a new Job</a></li>
          <li><a href="{% url 'index' %}" class='nav-link'>Your jobs</a></li>
          <li><a href="{% url 'logout'%}?next={{request.path}}" class='nav-link'>Logout</a></li>
        
          {% else %}  
          
          <li><a href="{% url 'signup' %}" class='nav-link'>Sign Up</a></li>
          <li><a href="{% url 'login'%}" class='nav-link'>Login</a></li>
         
          {% endif %}
         </ul>
      </div>
    </nav>
  </header>
  <ul class="sidenav" id="mobile">
    {% if user.is_authenticated %}
    
    <li><a href="{% url 'jobs_create' %}" class='nav-link'>Add a new job</a></li>
    <li><a href="{% url 'index' %}" class='nav-link'>Your jobs</a></li>
    <li><a href="{% url 'logout' %}" class='nav-link'>Log Out</a></li>
    {% else %}
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
  </ul>     

  <script language="javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
  </script>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2020 jobTracker &nbsp;</div>
  </footer>
</body>
</html>