{% extends 'base.html' %}
{% block content %}

<h1 class='homeh1'>appliTrack</h1>
<p class='homep'>Create an account to keep track of all your current job applications. I was using an excel sheet to keep track of all my job applications, and things would get really messy. Adding notes would get confusing, entering the information could have been more user friendly, so I made an app where users can login, and keep great detail of their job search.</p>
<h5 class='homeSub'>Authenticated users are able to:</h4>
<ol>
    <li class='homeli'>Add a job to their profile. Can update company, position, location, and important notes</li>
    <li class='homeli'>Add notes, so users can see which day they have an interview, received an update, or sent a
        follow up email</li>
    <li class='homeli'>Jobs are categorized by the date that you applied</li>
</ol>
{% endblock %}